html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}

.content {
    width: 100%;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    background: white;
    padding: 24px 1px 24px 24px;
    height: 100%;
    display: flex;
    box-shadow: 10px 0px 10px #CCC;
}

.application {
    width: 80%;
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav a {
    margin-top: 10%;
    color: rgb(17, 17, 17);
    font-size: 25px;
}

.menu_icon {
    display: flex;
    margin: 10px 0px;
    padding: 6px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: -44px;
}

.sidebar #logo {
    width: 215px;
    margin-bottom: 13px;
}

.menu_icon:hover {
    border-left: 10px solid #013C00;
}

.menu_icon img {
    width: 46px;
    height: 46px;
}

.menu_icon p {
    margin: 7px 0px 0px 10px;
}

.menu_icon_selected {
    background: #e2e2e2;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input[type=text] {
    width: 25%;
    padding: 5px;
    margin: 4px;
    box-sizing: border-box;
}

.scenario-title {
    padding: 3%;
}

.content-box {
    padding: 6px 36px;
    flex: auto;
}

.content-header {
    border-bottom: 1px solid #AAA;
    margin-bottom: 24px;
}


.content-form {
    background: white;
    padding: 24px;
    border-radius: 20px;
    margin: 13px;
    display: flex;
    flex-direction: column;
}

.scenario-table {
    margin-top: 16px;
    margin-bottom: 16px;
}

.scenario-table thead {
    font-weight: bold;
}

.scenario-table tr {
    height: 48px;

}

.scenario-table-select {
    width: 28px;
}

.scenario-table-select input {
        appearance: none;
        border: 4px solid white;
        outline: 1px solid black;
        width: 18px;
        height: 18px;
        border-radius: 9px;
}

.scenario-table-select input:checked {
    background: black
}

.scenario-table-name {

}

.scenario-table-author {

width: 200px;
}


.scenario-table-actions {width: 100px;}

.content-form-title {
    margin: -24px -24px 0px -24px;
    border-bottom: 1px solid lightgray;
    display: flex;
}

.content-form-buttons {
    margin: 0px -24px -24px -24px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgray;
}

.content-form-buttons button:first-child {
    margin-left: auto;
}

.content-form-buttons button {
    margin-right: 8px;
}

.content-form-title h2 {
    margin: 18px;
}

.content-form-title h3 {
    margin: 18px;
}

.cbutton {padding: 8px;border-radius: 9px;border: none;background: #013C00;color: white;}

.cbutton:hover {
    background: #1e491e;
    cursor: pointer;
}

.cbutton:focus {
    outline: 4px solid #1e491e3b;
}

.cbutton.caution {
    background: #a80b0b
}

.cbutton.caution:hover {
    background: #b42828;
}

.cbutton.caution:focus {
    outline: 4px solid #a80b0b61;
}

.content-header .content-form-buttons .cbutton {
    height: min-content;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.scenario-creation-metadata .field {
    display: flex;
    flex-direction: row;
}

.scenario-creation-metadata .label {
    width: 200px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.scenario-section {
    margin-top: 24px;
}

.scenario-creation-step,
.scenario-creation-step-settings{
    display: flex;
    flex-direction: row;
    flex: auto;
}

.scenario-creation-select,
.scenario-creation-step-settings > input {
    margin: 12px;
    padding: 6px;
}

.tooltip {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 24px;
    text-align: center;
    padding: 0px;
    font-size: 18px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0007;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  padding: 12px;
  font-size: medium;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.scenario-creation-step-remove {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.dialog-frame {
    position: fixed;
    background: white;
    width: 600px;
    box-shadow: 0px 0px 22px grey;
    border-radius: 22px;
    height: 400px;
    flex-direction: column;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
}

.dialog-visible {
    display: flex;
}

.dialog-header {
    padding: 12px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.dialog-title {
    padding: 0px;
    margin: 0px;
}

.dialog-content {
    padding: 12px;
    overflow: auto;
    flex: auto;
}

.dialog-footer {
    padding: 12px;
    border-top: 1px solid lightgray;
    display: flex;
}

.dialog-pager {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.dialog-pager * {
    margin-top: auto;
    white-space: pre;
    margin-bottom: auto;
}

.dialog-page,
.dialog-page-max {
    display: inline;
}

.pager-nav {
    padding: 0px;
    height: 16px;
    width: 16px;
    border-radius: 12px;
}

.disabled {
    background: lightgray;
}

.content-header-buttons {
    height: min-content;
    margin: auto 16px auto auto;
}