{% extends 'base.html' %}

{% block content %}
<div class="scenario-index content-box">
    <div class="content-header">
        <h1> {% block title %} Witaj w WATS! {% endblock %} </h1>
    </div>

    <div class="content-form">

        <p>W – Web</p>
        <p>A – Automation</p>
        <p>T – Testing</p>
        <p>S – Simplified</p>

        <p>Aplikacja będzie służyła do tworzenia przypadków testowych przez prosty konfigurator, prowadzący użytkownika
            krok po kroku do zamierzonego efektu. Po utworzeniu scenariuszy testowych pozytywnych i negatywnych,
            użytkownik będzie mógł odtworzyć je i zobaczyć statusy poszczególnych przypadków. Jeśli dany przypadek nie
            przeszedł próby, będzie można wyświetlić logi aplikacji i zobaczyć kody odpowiedzi błędów. W taki sposób
            użytkownik nauczy się jak wykonać przypadek testowy. Aplikacja pozostanie prosta w użyciu, żeby zachęcić
            użytkownika do tego typu testów oraz żeby zobaczył, że regresję całego systemu można wykonać jednym
            przyciskiem.</p>
    </div>
</div>
{% endblock %}