{% extends 'base.html' %}

{% block content %}
<div class="content-box">
    <div class="content-header">
            <h1> Dodawanie scenariusza </h1>
    </div>
    <div class="content-form">

        <form action="{{ url_for('scenario_add') }}" method="post">

            <div class = "scenario-creation-metadata">
                <div class="field">
                    <label class="label" for="name_id">Nazwa scenariusza</label>
                    <input class="value" type="text" id = "name_id" name = "name_field" placeholder="Podaj nazwę scenariusza" />
                </div>

                <div class="field">
                    <label class="label" for = "author_id">Autor scenariusza</label>
                    <input class="value" id = "author_id" name = "author" type = "text" placeholder="Podaj imię autora" />
                </div>
            </div>

            <div class = "content-form-buttons">
                <input type = "submit" value="Dodaj Kroki" class="cbutton">
            </div>

        </form>

    </div>
</div>
{% endblock %}